.sidebar{
  float: right;
  background-color: black;
  border: 2px solid gold;
  margin: 12px;
  padding: 10px;
}
#green {
  color: green;
}
#purple {
  color: purple;
}
#blue {
  color: blue;
}
#black {
  color: white;
}
h2 {
  color: red;
  text-decoration: underline;
}
li {
  line-height: 50px;
}

.band-pic {
  float: left;
  margin: 15px;
  border: 2px dotted skyblue;
  padding: 4px;
}

.column {
  width: 300px;
  float: left;
}

body {
    background-color: salmon;


}

#last-pic {
  margin-left: 300px;
  margin: 15px;
  border: 2px groove skyblue;
  padding: 4px;
  background-color: gold;
}
